---
import Container from "./Container.astro"
---

<div id="app-features">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Explore the App Features</h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Discover our interactive leaderboards, innovative betting options, and other exciting features designed to enhance your betting experience.
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3" >
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="relative overflow-hidden rounded-xl">
          <img src="./images/avatars/lead.png"
          alt="Leaderboard" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Competitive Leaderboards
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Climb the ranks and compete with other users on our dynamic leaderboards showcasing top performers.
          </p>
        </div>
      </div>
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="relative overflow-hidden rounded-xl">
          <img src="./images/avatars/boh.png"
          alt="Betting options" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Innovative Betting Options
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Explore a wide range of betting options and enjoy the thrill of predicting outcomes with our unique features.
          </p>

        </div>
      </div>
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="relative overflow-hidden rounded-xl">
          <img src="./images/avatars/tornaplace.png"
          alt="Cool features" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
</div>
<div class="mt-6 relative">
<h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
Tournaments & Events
</h3>
<p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
Uncover a world of entertainment with our app's engaging features, including in-depth statistics, personalized recommendations, and more.
</p>
</div>
</div>
</div>
</Container>

</div>
