---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">    
              <h1 id="play-heading" class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">ReShaping how you  <span class="text-primary dark:text-orange"></span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Unleash your gaming prowess & win big! Bet on games, challenge friends or join pools. Play or predict - dominate leaderboards & earn tokens in the ultimate gaming prediction market. Are you ready?</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Join Waitlist</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Make Gaming Competitive</h6>
                        <p class="mt-2 text-gray-500">Challenge friends or rivals in  matches.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Play, Bet & Earn </h6>
                        <p class="mt-2 text-gray-500">Stake, predict & earn rewards.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Continuous Engagement</h6>
                        <p class="mt-2 text-gray-500">Tournaments, Events and more</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/seii.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/solly.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/steammm.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/epic.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/immutable.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
              </div>
        </div>
    </Container>
<script>
  const playHeading = document.getElementById("play-heading");
  const words = ["Play", "Bet", "Earn"];
  let currentWord = "";
  let currentLetterIndex = 0;
  let isDeleting = false;

  setInterval(() => {
    if (currentLetterIndex === 0 && !isDeleting) {
      currentWord = words.shift();
      words.push(currentWord);
    }

    const currentWordLength = currentWord.length;

    if (isDeleting) {
      playHeading.innerHTML = `Reshaping the  way you: <span style="color: lime"><br>${currentWord.substring(0, currentLetterIndex)}</span>|`;

      currentLetterIndex--;
      if (currentLetterIndex === 0) {
        isDeleting = false;
      }
    } else {
      playHeading.innerHTML = `Reshaping the way you: <span style="color: lime"><br>${currentWord.substring(0, currentLetterIndex)}</span>|`;

      currentLetterIndex++;
      if (currentLetterIndex > currentWordLength) {
        isDeleting = true;
        setTimeout(() => {
          isDeleting = false;
        }, 3000);
      }
    }
  }, 200);

</script>
</div>