---
// photo.astro
import Container from "./Container.astro";
---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center">
        <img
          loading="lazy"
          width="800"
          height="450"
          src="./images/avatars/scren.png"
          alt="Platform photo"
          class="w-full lg:w-3/4 rounded-lg object-cover shadow-lg border-2 border-primary dark:border-gray-700"
        />
      </div>
    </div>
  </Container>
</div>
